.v-popper--theme-dropdown .v-popper__inner,
.v-popper--theme-tooltip .v-popper__inner {
  background: hsl(var(--primary-200));
  color: hsl(var(--primary-900));
  backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid hsl(var(--primary-300));
  box-shadow: none;
  font-size: 14px;
  padding: none;
}

.v-popper--theme-dropdown .v-popper__arrow-inner,
.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: hidden;
  border-color: hsl(var(--primary-300));
}

.v-popper--theme-dropdown .v-popper__arrow-outer,
.v-popper--theme-tooltip .v-popper__arrow-outer {
  visibility: hidden;
  border-color: hsl(var(--primary-300));
}

.v-popper--theme-dropdown.v-popper__popper--hidden,
.v-popper--theme-theme.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.15s,
    visibility 0.15s;
}

.v-popper--theme-dropdown.v-popper__popper--shown,
.v-popper--theme-theme.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

.v-popper--theme-dropdown.v-popper__popper--skip-transition,
.v-popper--theme-theme.v-popper__popper--skip-transition {
  transition: none !important;
}
