:root {
  /* DYNAMIC COLORS; Setup by cinema color palette */
  --c-0: 0 0% 100%;
  --c-50: 240 100% 98%;
  --c-100: 245 77% 92%;
  --c-150: 244 73% 85%;
  --c-200: 244 71% 79%;
  --c-250: 244 70% 74%;
  --c-300: 244 69% 68%;
  --c-350: 244 68% 62%;
  --c-400: 244 67% 57%;
  --c-450: 244 66% 50%;
  --c-500: 244 63% 45%;
  --c-550: 244 60% 41%;
  --c-600: 244 57% 36%;
  --c-650: 244 55% 30%;
  --c-700: 244 53% 25%;
  --c-750: 245 51% 19%;
  --c-800: 244 48% 14%;
  --c-850: 243 44% 8%;
  --c-900: 0 0% 0%;
  /* END DYNAMIC COLORS */

  --primary-100: var(--c-0);
  --primary-200: var(--c-50);
  --primary-300: var(--c-100);
  --primary-400: var(--c-150);
  --primary-500: var(--c-200);
  --primary-600: var(--c-250);
  --primary-700: var(--c-300);
  --primary-800: var(--c-350);
  --primary-900: var(--c-400);

  --content: var(--c-900);

  --warn: 35 100% 50%;
  --error: 14 100% 50%;
  --success: 148 77% 43%;
  --info: 204 89% 47%;
}

.dark {
  --primary-100: var(--c-900);
  --primary-200: var(--c-850);
  --primary-300: var(--c-800);
  --primary-400: var(--c-750);
  --primary-500: var(--c-700);
  --primary-600: var(--c-650);
  --primary-700: var(--c-600);
  --primary-800: var(--c-550);
  --primary-900: var(--c-500);

  --content: var(--c-0);
}

.theme-transition {
  *,
  *::after,
  *::before,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar {
    transition: all 0.2s ease !important;
  }
}
