:root {
  --color-warn: 35 100% 50%;
  --color-error: 14 100% 50%;
  --color-success: 148 77% 43%;
  --color-info: 204 89% 47%;

  --color-0: 0 0% 100%;
  --color-50: 240 100% 98%;
  --color-100: 245 77% 92%;
  --color-150: 244 73% 85%;
  --color-200: 244 71% 79%;
  --color-250: 244 70% 74%;
  --color-300: 244 69% 68%;
  --color-350: 244 68% 62%;
  --color-400: 244 67% 57%;
  --color-450: 244 66% 50%;
  --color-500: 244 63% 45%;
  --color-550: 244 60% 41%;
  --color-600: 244 57% 36%;
  --color-650: 244 55% 30%;
  --color-700: 244 53% 25%;
  --color-750: 245 51% 19%;
  --color-800: 244 48% 14%;
  --color-850: 243 44% 8%;
  --color-900: 0 0% 0%;

  --color-primary-100: var(--color-0);
  --color-primary-200: var(--color-50);
  --color-primary-300: var(--color-100);
  --color-primary-400: var(--color-150);
  --color-primary-500: var(--color-200);
  --color-primary-600: var(--color-250);
  --color-primary-700: var(--color-300);
  --color-primary-800: var(--color-350);
  --color-primary-900: var(--color-400);

  --color-content: var(--color-900);
}

.dark {
  --color-primary-100: var(--color-900);
  --color-primary-200: var(--color-850);
  --color-primary-300: var(--color-800);
  --color-primary-400: var(--color-750);
  --color-primary-500: var(--color-700);
  --color-primary-600: var(--color-650);
  --color-primary-700: var(--color-600);
  --color-primary-800: var(--color-550);
  --color-primary-900: var(--color-500);

  --color-content: var(--color-0);
}

.theme-transition {
  *,
  *::after,
  *::before,
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar {
    transition: all 0.2s ease !important;
  }
}